/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #07023b;
  --ifm-color-primary-dark: #1765cf;
  --ifm-color-primary-darker: #165dbb;
  --ifm-color-primary-darkest: #124c9c;
  --ifm-color-primary-light: #2c80f0;
  --ifm-color-primary-lighter: #3e8cf2;
  --ifm-color-primary-lightest: #63a2f5;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #94bafb;
  --ifm-color-primary-dark: #2a70f7;
  --ifm-color-primary-darker: #1d62f6;
  --ifm-color-primary-darkest: #07023b;
  --ifm-color-primary-light: #659bf9;
  --ifm-color-primary-lighter: #72a4f9;
  --ifm-color-primary-lightest: #94bafb;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}

.hero__title {
  font-size: 50px;
}

main h2 {
    font-size: 40px;
}
