.features {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem 0;
  width: 100%;
}

.features .row {
    justify-content: center;
}

.featureCard {
  border: 1px solid var(--custom-blue-light);
  border-radius: 8px;
  box-shadow: var(--custom-shadow-soft);
  transition: all 0.3s ease-in-out;
  background-color: white;
  padding: 1.5rem;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  opacity: 0;
  animation: fadeIn 0.5s forwards;
}

.featureCard:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}
