/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 8rem 0;
  text-align: left;
  position: relative;
  overflow: hidden;
  background: var(--custom-gradient-blue);
  color: white;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 4rem 2rem;
    text-align: center;
  }
}

.heroTitle {
  font-size: 3.5rem; /* Reduced from 4rem */
  font-weight: 800;
  line-height: 1.2;
}

.heroSubtitle {
  font-size: 1.5rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.heroImage {
  border-radius: 8px;
  box-shadow: var(--custom-shadow-soft);
  transition: all 0.3s ease-in-out;
  width: 120%; /* Increase the size */
  max-width: 500px; /* Add a max-width */
}

.heroImage:hover {
  box-shadow: var(--custom-shadow-glow);
  transform: scale(1.02);
}

@media screen and (max-width: 996px) {
  .heroTitle {
    font-size: 2.5rem; /* Reduced for mobile */
  }
  .heroSubtitle {
    font-size: 1.2rem;
  }
  .heroImage {
    margin: 0 auto; /* Center the image */
    display: block; /* Ensure it takes up full width for centering */
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

@media screen and (max-width: 996px) {
  .buttons {
    justify-content: center;
  }
}
